.input{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
   
}
.h3{
    font-size: medium;

    font-family: Arial, Helvetica, sans-serif;
   padding: 0%;
}
.button{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
